.mat-card{
    width: 50vh;
    height: 70vh;
    padding-right: 60px;
    padding-left: 60px;
}
.mat-form-field{
    width: 100%;
    align-items: center;
}
.container{
    display: flex; 
    margin: 70px; 
    justify-content: center;
    align-items: center;
    .innerContainer{
        display: inline;
        .fundooWord{
            display: flex;
            justify-content: center;
            padding-top: 20px;
            
        }
        .signInLine{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .useFundooLine{
            margin-top: -12px;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .userNameField{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .nextButton{
            display: flex;
            flex-direction:row-reverse;
        }
    }
}
.fundooFont{
    font-size: 25px;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}



@media (max-width: 600px) {
    mat-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto !important;
        height: auto !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        transition: none !important;
        box-shadow: none !important;
      }
      .container{
        display: inline !important;
    }
    .innerContainer{
        width: 90%;
    }
}