/* You can add global styles to this file, and also import other style files */

html, body { height: 95%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.blueColor{ color: blue; }
.redColor{ color: red; }
.greenColor{ color: green; }
.orangeColor{ color: orange; }
@media (max-width: 600px) {
    
}