.container{
    background-color: white;
}
.fundoo-icon{
    color: rgb(252, 182, 7);
  font-size: 30px;
}
.fundoo-menu-icons{
    align-items: center !important;
    column-gap: 10px !important;
}
.mat-toolbar{
    background-color: white;
    box-sizing: border-box;
    border-bottom: solid 1px rgba(0,0,0,0.12);
    .search-field-responsive{
        display: none;
    }
}
.search-field{
    margin-left: 0px !important;
    flex-grow: 0.4;
    font-size: 11px;
    margin-top: 14px;
    input {
        font-size: 2.5em;
        margin-left: 2%;
        width: 90%;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: rgb(245, 239, 239);
        border-radius: 0px;
    }
    .mat-form-field{
        width: 100%;
    }
    .search-icon-responsive{
        display: none;
    }
}


.drawer-container {
    width: 100%;
    height: 100%;
    background-color: white !important;
  }

  
  .drawer-sidenav {
    width: 30%;
  }
.sideNav{
      width: 100%;
      border-color: white;
      .drawer-menu{ 
        display: flex !important;
    }
    #btn-icon{
        float: left;
    }
    #btn-name{
        float: right;
        padding-left: 25px;
        font-size: 15px;
    }
      button{
          width: 70%;
          height: 60px !important;
          color: black !important;
          border-radius:0 50px 50px 0;
        }
      button:focus{
          background-color: rgb(255, 196, 1);
      }
}
  .mat-drawer{
      border-right: white;
}
::ng-deep .mat-drawer-contentainer {
    background-color: white !important;
}

@media (max-width: 600px) {
    .notesCard{
        display: inline !important;
        flex-direction: row-reverse !important;
    }
    mat-card{
        width: 50% !important;
    }
    .search-icon{
        display: visible !important;
    }
    .search-input-field{
        display: none !important;
    }
    .search-icon-responsive{
        display: block !important;
    }
}
