<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" class="fundoo-menu-icons" fxLayoutAlign="space-between center">
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>dehaze</mat-icon>
    </button>
    <mat-icon class="fundoo-icon">file_copy</mat-icon>
    <h1>Fundoo</h1>
  </div>
  <div class="search-field">
    <mat-icon class="search-icon-responsive">search</mat-icon>
    <mat-form-field class="search-input-field" appearance="outline">
      <mat-icon class="search-icon">search</mat-icon>
      <input matInput placeholder="search">
    </mat-form-field>
    <!-- <div class="search-field-responsive">
      <mat-icon class="search-icon" class="search-icon-responsive">search</mat-icon>
      <mat-form-field class="search-input-field" appearance="outline">
        <mat-icon class="search-icon">search</mat-icon>
        <input matInput placeholder="search">
      </mat-form-field>
    </div> -->
  </div>
  <div>
    <app-profile-menu></app-profile-menu>
  </div>
</mat-toolbar>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer class="drawer-sidenav" #drawer mode="side">
    <div class="sideNav">
      <div class="drawer-menu">
        <button mat-button routerLink="notes" routerLinkActive="active">
          <span>
            <div id="btn-icon">
              <mat-icon class="notes-icon">emoji_objects</mat-icon>
            </div>
            <div id="btn-name">Notes</div>
          </span>
        </button>
      </div>
      <div class="drawer-menu"><button mat-button routerLinkActive="active">
          <div id="btn-icon">
            <mat-icon class="notes-icon">add_alert</mat-icon>
          </div>
          <div id="btn-name">Remainders</div>
        </button></div>
      <div class="drawer-menu"><button mat-button routerLink="archive" routerLinkActive="active">
          <div id="btn-icon">
            <mat-icon class="notes-icon">archive</mat-icon>
          </div>
          <div id="btn-name">Archive</div>
        </button></div>
      <div class="drawer-menu"><button mat-button routerLinkActive="active">
          <div id="btn-icon">
            <mat-icon class="notes-icon">delete_outline</mat-icon>
          </div>
          <div id="btn-name">Trash</div>
        </button></div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div>
      <router-outlet></router-outlet>
      <!-- <app-notes *ngIf="notes"></app-notes>
      <div class="notes-container">
        <app-archive-notes (archiveNotes)="archiveNotes($event)" *ngIf="archive"></app-archive-notes>
      </div> -->
    </div>
  </mat-drawer-content>
</mat-drawer-container>