.mat-card{
    height: 70vh;
    padding-right: 60px;
    padding-left: 60px;
}
.resetMain{
    margin: 70px;
}
.fundooWord{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.fundooFont{
    font-size: 25px;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}
.signInLine{
    display: flex;
    justify-content: center;
    align-items: center;
}
.useFundooLine{
    margin-top: -12px;
}
@media (max-width: 600px) {
    mat-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto !important;
        height: auto !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        transition: none !important;
        box-shadow: none !important;
      }
      .resetMain{
        display: inline !important;
    }
    .resetInner{
        width: 90%;
    }
}
