.mat-card{
    height: 70vh;
    padding-right: 60px;
    padding-left: 60px;
}
.resetMain{
    margin: 70px;
}
.fundooWord{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.fundooFont{
    font-size: 25px;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}
.signInLine{
    display: flex;
    justify-content: center;
    align-items: center;
}
.useFundooLine{
    margin-top: -12px;
}
