<div class="container">
<mat-card>
    <!--<div class="outerDivision"> -->
        <form [formGroup]="registerForm" (ngSubmit)="OnRegistration(registerForm.value)">
        <div class="innerContainer">
            <div class="fundooWord">
                <span>
                    <span class="blueColor fundooFont">F</span>
                    <span class="redColor fundooFont">u</span>
                    <span class="orangeColor fundooFont">n</span>
                    <span class="blueColor fundooFont">d</span>
                    <span class="greenColor fundooFont">o</span>
                    <span class="redColor fundooFont">o</span>
                </span>
            </div>
            <div class="createLine">
                <h1>
                    Create your Fundoo Account
                </h1>
            </div>
            <div class="firstLastName">
                <div>
                    <mat-form-field fxFill class="widthFormField" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid':registrationForm.firstName.errors }"/>
                        <mat-hint *ngIf="(submitted && registrationForm.firstName.errors?.required) || (registrationForm.firstName.errors && registrationForm.firstName.touched)">First Name is required & min. 3 Letters</mat-hint>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field fxFill class="widthFormField" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': registrationForm.lastName.errors }" />
                        <mat-hint *ngIf="(submitted && registrationForm.lastName.errors?.required) || (registrationForm.lastName.errors && registrationForm.lastName.touched)">Last Name is required & min. 3 Letters</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="userName">
                <mat-form-field fxFill class="longFormField widthFormField" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" class="form-control" [ngClass]="{ 'is-invalid':registrationForm.email.errors }"/>
                    <mat-hint *ngIf="(submitted && registrationForm.email.errors?.required) || (registrationForm.email.errors && registrationForm.email.touched)">Email  is required & Valid Format</mat-hint>
                    
                </mat-form-field>
                
            </div>
            <mat-hint class="emailHint">You can use letters, numbers & periods</mat-hint>
            <div class="password">
                <div>
                    <mat-form-field fxFill class="widthFormField" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="showPassword.checked ? 'text' : 'password'"
                        formControlName="password" class="form-control" [ngClass]="{ 'is-invalid':registrationForm.password.errors }"/>
                        <mat-hint *ngIf="(submitted && registrationForm.password.errors?.required) || (registrationForm.password.errors && registrationForm.password.touched)">Password is required & Match all password pattern</mat-hint>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field fxFill class="widthFormField" appearance="outline">
                        <mat-label>Confirm</mat-label>
                        <input matInput [type]="showPassword.checked ? 'text' : 'password'" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid':registrationForm.confirmPassword.errors }"/>
                        <mat-hint *ngIf="(submitted && registrationForm.confirmPassword.errors?.required) || (registrationForm.confirmPassword.errors && registrationForm.confirmPassword.touched)">Password is required</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <mat-hint class="emailHint">Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
            </div>
            <div>
                <mat-checkbox color="primary" #showPassword>Show Password</mat-checkbox>
            </div>
            <br>
            <div class="buttons">
                <button mat-button color="primary" (click)="OnClickLogin()">Sign in instead</button>
                <button class="abc" type="submit" mat-raised-button color="primary" >Next</button>
            </div>
        </div>
    </form>
</mat-card>
</div>
