<div class="icon-container">
    <button class="button" matTooltip="Remind Me" mat-icon-button>
        <mat-icon>add_alert</mat-icon>
    </button>
    <button matTooltip="Add Collaborator" mat-icon-button>
        <mat-icon>person_add</mat-icon>
    </button>
    <button type="color" matTooltip="Add Color" mat-icon-button (click)="display()">
        <input type="color" id="color-picker" name="head" (click)="display()" [(value)]="value"
           value="#e66465">
        <mat-icon>color_lens</mat-icon>
    </button>
    <button matTooltip="Add image" mat-icon-button>
        <mat-icon>image</mat-icon>
    </button>
    <button matTooltip="Add to archive" mat-icon-button>
        <mat-icon>archive</mat-icon>
    </button>
    <button matTooltip="More" [matMenuTriggerFor] = "menu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu = "matMenu">
        <button mat-menu-item (click)="addToTrash()">Delete Note</button>
     </mat-menu>
</div>