<mat-drawer-container class="example-container" autosize>
    <mat-drawer class="example-sidenav" opened="true" mode="side">
        <div class="sideNav">
            <div class="drawer-menu">
                <button mat-button>
                    <span>
                        <div id="btn-icon"><mat-icon>emoji_objects</mat-icon>
                        </div>
                        <div id="btn-name" *ngIf="showDrawer">Notes</div>
                    </span>
                </button>
            </div>  
            <div class="drawer-menu"><button mat-button><div id="btn-icon"><mat-icon>add_alert</mat-icon>
            </div><div id="btn-name" *ngIf="showDrawer">Remainders</div></button></div>
            <div class="drawer-menu"><button mat-button><div id="btn-icon"><mat-icon>archive</mat-icon>
            </div><div id="btn-name" *ngIf="showDrawer">Archive</div></button></div>
            <div class="drawer-menu"><button mat-button><div id="btn-icon"><mat-icon>delete_outline</mat-icon>
            </div><div id="btn-name" *ngIf="showDrawer">Trash</div></button></div>
        </div>
    </mat-drawer>
    <div class="take-note">
        <app-notes></app-notes>
    </div>
  </mat-drawer-container>