<div class="loginMain" fxLayoutAlign="center">
    <form [formGroup]="forgetForm" (ngSubmit)="OnForgetPassword(forgetForm.value)">
        <mat-card>
            <div class="innerLogin">
                <div class="fundooWord">
                    <span>
                        <span class="blueColor fundooFont">F</span>
                        <span class="redColor fundooFont">u</span>
                        <span class="orangeColor fundooFont">n</span>
                        <span class="blueColor fundooFont">d</span>
                        <span class="greenColor fundooFont">o</span>
                        <span class="redColor fundooFont">o</span>
                    </span>
                </div>
                <div class="signInLine">
                    <h1>
                        Find your email
                    </h1>
                </div>
                <div class="useFundooLine">
                    <h3>
                        Enter your recovery email
                    </h3>
                </div>
                <div class="userNameField">
                    <mat-form-field class="longFormField" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': forgettingForm.email.errors }"/>
                        <mat-hint *ngIf="forgettingForm.email.errors && forgettingForm.email.touched">Email  is required & Valid Format</mat-hint>
                    </mat-form-field>
                </div>
                <br>
                <br>
                <div class="nextButton">
                    <button type="submit" mat-raised-button color="primary" >Next</button>
                </div>
            </div>
        </mat-card>
    </form>
</div>

