.mat-card{
    width: 50vh;
    height: 70vh;
    padding-right: 60px;
    padding-left: 60px;
}
.loginMain{
    display: flex; 
    margin: 70px; 
    justify-content: center;
    align-items: center;
}
.longFormField{
    width: 100%;
    align-items: center;
}
.innerLogin{
    display: inline;
}
.userNameField{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fundooWord{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.fundooFont{
    font-size: 25px;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}
.signInLine{
    display: flex;
    justify-content: center;
    align-items: center;
}
.useFundooLine{
    margin-top: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextButton{
    display: flex;
    flex-direction:row-reverse;
}