<!-- <form>
    <div>
      <span>
        <mat-form-field *ngIf="collapsed">
          <input matInput name="titcreateTitlele" placeholder="Title" formControlName="createTitle" class="form-control" type="title">
        </mat-form-field>
        <span *ngIf="collapsed">
          <button mat-button matTooltip="pin note" class="pinButton"><mat-icon>add_alert</mat-icon></button>
        </span>
      </span>
    </div>
    <div class="takeNoteHidden">
      <span>
        <mat-form-field>
          <input (click)="collapsed=true" name="createDescription" formControlName="createDescription" class="form-control" placeholder="Take a note" matInput>
        </mat-form-field>
        <span  *ngIf="!collapsed" class="takeNoteHidden">
          <button mat-button matTooltip="New list"><mat-icon>check_box</mat-icon></button>
          <button mat-button matTooltip="New note with drawing"><mat-icon>brush</mat-icon></button>
          <button mat-button matTooltip="Note with image"><mat-icon>image</mat-icon></button>
        </span>
      </span>
    </div>
    <div *ngIf="collapsed">
    <span>
    <button mat-button matTooltip="Remind Me"><mat-icon>add_alert</mat-icon></button>
    <button mat-button matTooltip="Add Collaborator"><mat-icon>person_add</mat-icon></button>
    <button mat-button matTooltip="Change Color"><mat-icon>color_lens</mat-icon></button>
    <button mat-button matTooltip="Add image"><mat-icon>image</mat-icon></button>
    <button mat-button matTooltip="Archive"><mat-icon>archive</mat-icon></button>
    <button mat-button matTooltip="more"><mat-icon>more_vert</mat-icon></button>
   <span><button mat-button matTooltip="close" class="closeNote" (click)="collapsed=!collapsed">close</button></span>
    </span>
    </div>
    </form> -->

        <mat-expansion-panel class="expansion-box" (click)="togglePanelTitle()">
          <mat-expansion-panel-header *ngIf="panelTitle">
            <mat-panel-title>
              Take Note...
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <mat-form-field>
            <input matInput placeholder="Title">
          </mat-form-field>
      
          <mat-form-field>
            <input matInput placeholder="Take a Note">
          </mat-form-field>
      
        </mat-expansion-panel>
