
mat-form-field{
    display: inline;
    border-bottom-color: transparent !important;
    box-shadow: none !important;
}
mat-expansion-panel{
    width: 60%;
    margin-top: 50px;
}
::ng-deep .mat-form-field-underline {
    display: none;
}