.mat-card{
    width: 100%;
}
.mat-form-field{
    width: 100%;
    align-items: center;
}
.container{
    display: flex; 
    margin-top: 70px; 
    justify-content: center;
    align-items: center;
    .innerContainer{
        display: inline;
        .fundooWord{
            display: flex;
            justify-content: center;
            padding-top: 20px;
            .fundooFont{
                font-size: 25px;
                font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
            }
        }
        .signInLine{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .useFundooLine{
            margin-top: -12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .userNameField{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .buttons{
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            margin-left: -16px;
        }
        .forgetEmail{
            border-radius: 4px;
            color: #1a73e8;
            display: inline-block;
            font-weight: 500;
            letter-spacing: .25px;
            position: relative;
            background-color: transparent;
            cursor: pointer;
            font-size: inherit;
            padding: 0;
            text-align: left;
            border: 0;
        }
    }
}


.forgetEmail{
    border-radius: 4px;
    color: #1a73e8;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .25px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    text-align: left;
    border: 0;
}

@media (max-width: 600px) {
    mat-card {
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      padding: 0 !important;
      transition: none !important;
      box-shadow: none !important;
    }
    .container{
        display: inline !important;
    }
    .innerContainer{
        width: 90%;
    }
}