<div class="notesCard" fxFlex>
    <div *ngFor="let item of allNotes">
        <div>
            <mat-card [style.backgroundColor]="item.color">
                <mat-card-title (click)="openAddFileDialog(item)">{{item.title}}</mat-card-title>
                <mat-card-content (click)="openAddFileDialog(item)">{{item.description}}

                </mat-card-content>
                <mat-card-actions>
                    <app-icons [notes]=(item)></app-icons>
                  </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
