.notesCard{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: reverse;
}
mat-card{
    min-width: 200px;
    min-height: 180px;
    margin-top: 20px;
}
app-icons{
    display: none;
}
mat-card:hover app-icons{
    display:block;
}

@media (max-width: 600px) {
    .notesCard{
        display: inline !important;
        flex-direction: column-reverse !important;
    }
}
